.btn-orange {
    color: #212529;
    background-color: #fff3e0;
    border-color: #fff3e0;
    box-shadow: 2px 2px 5px gray;
   
  }
  .home {
    text-decoration: none;
    color: black;
  }
  .btn-orange:hover {
    color: #fff;
    background-color: #f59d0b;
    border-color: #f57c00;
  }
  
.menuWrap{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.topNav{
    padding: 10px;
    justify-content: space-between;
}
h3 {
    margin-left: 20px;
    text-decoration: none;
}

  /* .btn-orange:focus, .btn-orange.focus {
    //color: #fff;
    //background-color: #f59d0b;
    //border-color: #f57c00;
    //box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
    box-shadow: 2px 2px 5px gray;
  } */
  
  /* .table-striped {
    tbody tr:nth-of-type(#{$table-striped-order}) {
      background-color: #fffbf6 !important;
    }
  } */
  
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  
  .page-link:hover {
    z-index: 2;
    color: #000000;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #F59D0B;
    border-color: #F59D0B;
  }