.App {
  font-family: sans-serif;
  text-align: center;

}

.iconbutton {
  border: none;
  background: none;
}

.wrap_note {
  display: flex;
}

.modalbody {
  height: 300px;
}

.selectWrap {
  display: flex;
  justify-content: space-between;
}

.wrapInline {
  display: inline-flex;
}

.inputNameWidth {
  min-width: 100px;
}


.inputNameWidth_lg {
  min-width: 140px;
}
.tab {
  width: 100%;
  font-size: smaller;
  border-collapse: collapse;
  border: 2px solid white;
}

td,
th {
  padding: 3px;
  text-align: center;
  font-size: smaller;

}

.editClient td {
  text-align: left;
}

button {
  margin: 2px;
}

.tabWrap {
  width: 100%;
  margin: 0px;
  padding: 0px;
}


.lightbox {
  display: block;
}

.hide-lightbox {
  display: none;
}



#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}