.side{
  width: 350px;
}

.layout { 
  width: 80%; 
  margin: auto; 
}

.sidebar {
 width: 20%; /* Ширина колонки */
 float: left; /* Обтекание справа */
}

.content {
  margin-left:390px;
  
}

.wrp{
  width: 97%;
}